USE [master]
GO
/****** Object:  Database [dbUsuario]    Script Date: 27/07/2019 12:46:23 ******/
CREATE DATABASE [dbUsuario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbUsuario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbUsuario.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbUsuario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbUsuario_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbUsuario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
CREATE LOGIN dbUsuario_user   
    WITH PASSWORD = '123456'; 
GO
USE [dbUsuario]
GO
/****** Object:  User [dbUsuario_user]    Script Date: 27/07/2019 12:46:23 ******/
CREATE USER [dbUsuario_user] FOR LOGIN [dbUsuario_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 27/07/2019 12:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USU_N_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[USU_DS_NOME] [varchar](50) NOT NULL,
	[USU_DS_EMAIL] [varchar](50) NOT NULL,
	[USU_DS_SENHA] [uniqueidentifier] NOT NULL,
	[USU_B_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USU_N_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unique_email] UNIQUE NONCLUSTERED 
(
	[USU_DS_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_USU_B_ATIVO]  DEFAULT ((0)) FOR [USU_B_ATIVO]
GO
/****** Object:  StoredProcedure [dbo].[USP_ATIVAR_USUARIO_U]    Script Date: 27/07/2019 12:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ATIVAR_USUARIO_U]
	@IdUsuario 	     INT
AS
BEGIN

	UPDATE 
		USUARIO
	SET 
		USU_B_ATIVO = 1
	WHERE 
		USU_N_CODIGO = @IdUsuario
END

GO
/****** Object:  StoredProcedure [dbo].[USP_OBTEM_USUARIO_SEL]    Script Date: 27/07/2019 12:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_OBTEM_USUARIO_SEL]
	@Email		 VARCHAR(50),
	@Senha 	     UNIQUEIDENTIFIER
AS
BEGIN

	SELECT 
		USU_N_CODIGO AS IdUsuario,
		USU_DS_NOME AS Nome,
		USU_DS_EMAIL AS Email,
		USU_B_ATIVO AS Ativo
	FROM 
		USUARIO
	WHERE 
		USU_B_ATIVO = 1
		AND USU_DS_EMAIL = @Email 
		AND USU_DS_SENHA = @Senha
		
END

GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_INSERIR_I]    Script Date: 27/07/2019 12:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_USUARIO_INSERIR_I]
	@Nome	     VARCHAR(50), 
	@Email		 VARCHAR(50),
	@Senha		 VARBINARY(MAX)
AS
BEGIN

	INSERT INTO USUARIO 
	(
		USU_DS_NOME,
		USU_DS_EMAIL,
		USU_DS_SENHA
	)
	VALUES	
	(
		@Nome,
		@Email,
		@Senha
	);
	
	SELECT @@IDENTITY
END

GO
USE [master]
GO
